<% provide(:title, "Show Interval Master " + @interval_master.name) %>

<h1>Show Interval Master  <%=@interval_master.name %></h1>

<strong>Universe:</strong> <%= @interval_master.universe.name %><br/>
<strong>Season:</strong> <%= @interval_master.season.name %><br/>
<strong>Finished:</strong> <%= @interval_master.finished %><br/>
<strong>Order:</strong> <%= @interval_master.order %><br/>
