<p><h1><%= @universe.name %></h1></p>
<p><h3>Houses</h3>
<p>
  <% @universe.houses.each do |house| %>
     <%= link_to house.name, house %><br/>
  <%end %>
</p>
<p><h3>Interval Master</h3>
  <% list =  @universe.interval_master.order(order: :desc)%>
  <% list.each do |interval_master| %>
    <% if interval_master == list.first then %>
      <%=interval_master.id %> <%= link_to interval_master.name, edit_interval_master_path(interval_master) %><br/>
     <% else %>
      <%=interval_master.id %> <%= link_to interval_master.name, interval_master %><br/>
     <% end %>
  <%end %>
